
    .conteudoPrincipal{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: 1024px) {
      
        .conteudoPrincipal{
            flex-direction: row;
            align-items: flex-start;
        }
    }