
    .divMenuLateralLista{
        background-color: var(--corBackgroundMenuLateral);
        border-radius: 10px;
        padding: 1em;
        position: absolute;
        height: 912px;
        width: 300px;
        top: 10%;
        right: 2%;
    }

    .menuLateralLista{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 0.4px solid var(--corBordaMenuLateral);
    }

    .itensLista{
        display: flex;
        align-items: center;
        width: 80%;
    }

    .menuLateralListaFilhos{
        background-color: var(--corIconeEditorDeTexto);
        border-radius: 1em;
        width: 10%;
        height: 18%;
        margin-bottom: 5%;
    }

    .elementoAutor{
        display: flex;
        align-items: center;
    }

    .tituloMenu{
        margin-left: 0.5rem;
        font-style: normal;
        font-weight: normal;
        font-family: var(--inter);
        font-size: 16px;
        line-height: 24px;
        color: var(--corBrancoFonte);
    }

    .iconeEditorDeCodigoStyle{
        padding: 1em; 
    }

    .iconeComunidadeStyle{
        padding: 1.2em 1em;
    }

    .menuLateralAutor{
        width: 20%;
        border-radius: 50%;
        margin-top: 3%;
    }

    .barraDePesquisaMobile{
        width: 80%;
        height: 3em;
        border: none;
        border-radius: 0.5em;
    }

    @media screen and (min-width: 1024px) {

        .divMenuLateralLista{
            display: none;
        }
    }