
    :root{
        --backgroundFundoPagina: #051D3B;
        --backgroundConteudoCodigo: #141414;
        --colorFonte: #FFF;
        --transparenciaCarta:rgba(0, 0, 0, 0.16);

        
        --fontRobotoMono: 'Roboto', sans-serif;
    }


    body{
        background-color: var(--backgroundFundoPagina);
    }

    .container{
        padding: 0 3%;
    }