
    .conteudoCartas{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .menuNavegacao{
        display: none;
    }

    .sectionCartas{
        width: 100%;
    }

    .conteudoEncapsulamento{
        margin-top: 1.5em;
        background-color: var(--transparenciaCarta);
        border-radius: 10px;
        font-family: var(--fontRobotoMono);
        font-size: 1rem;
        word-wrap: break-word;
    }

    .conteudoCodigo{
        padding: 1.5em 1.5em;
        border-radius: 10px;
        background-color: var(--backgroundConteudoCodigo);
        color: var(--colorFonte);
    }

    .backgroundConteudoCarta{
        padding: 1.5em 1.5em;
        border-radius: 10px;
    }

    .conteudoDescricao{
        padding: 1.5em 1.5em;
        border-radius: 10px;
        color: var(--colorFonte);
        font-weight: bold;
    }

    .flexTituloLinguagem{
        display: flex;
        justify-content: space-between;
    }

    .linguagemProjeto{
        text-transform: uppercase;
    }

    @media screen and (min-width: 768px) {
        
        .menuNavegacao{
            display: none;
        }
    }

    @media screen and (min-width: 1024px) {

        .conteudoCartas{
            align-items: flex-start;
        }

        .sectionCartas{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 75%;
        }

        .conteudoEncapsulamento{
            width: 45%;
        }
        
        .menuNavegacao{
            margin-top: 1em;
            display: initial;
            width: 25%;
        }

        .itemNavegacaoEditorCodigo, .itemNavegacaoComunidade{
            margin: 1em 0 1em 0;
        }

        .iconesMenu{
            cursor: pointer;
            border-radius: 15px;
        }

        .iconeMenuEditorCodigo{
            padding: 1em;
            background-color: var(--backgroundIconeEditorCodigo);
        }

        .iconeMenuComunidade{
            padding: 1.3rem 1.1rem;
            background-color: var(--backgroundIconeComunidade);
        }

        .tituloEditorDeCodigo, .tituloComunidade{
            font-family: var(--fontInter);
            font-size: 1rem;
            margin-left: 1rem;
            color: var(--colorFonte);
        }

        .conteudoCartas{
            flex-direction: row;
        }

        .itemNavegacaoEditorCodigo, .itemNavegacaoComunidade{
            display: flex;
            align-items: center;
        }

        .iconeMenuEditorCodigo:hover{
            background-color: var(--corHoverIconeComunidade);
            transition: 2.5s;
            border-radius: 1rem;
        }

        .iconeMenuComunidade:hover{
            background-color: var(--corHoverIconeEditorDeTexto);
            transition: 2.5s;
            border-radius: 1rem;
        }
    }
